<h1>Template page</h1>


<div class="add-template">
  <div class="circle">
    <button  routerLink="/template/add" mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <p>Ajouter un template</p>
</div>

<mat-divider></mat-divider>

<div>
  <h1>Mes Templates</h1>
</div>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let template of arrayTemplate">
    <mat-expansion-panel-header>
      <mat-panel-title>#{{template.id}}</mat-panel-title>
      <mat-panel-description>{{template.title}}</mat-panel-description>
    </mat-expansion-panel-header>

      <mat-form-field class="example-form-field">
        <mat-label>Titre de ma connaissance</mat-label>
        <input matInput [(ngModel)]="template.title" type="text" name="title" id="title" >
      </mat-form-field>

      <ckeditor [editor]="Editor" [(ngModel)]="template.template" name="content" id="content"></ckeditor>

      <mat-form-field class="example-full-width">
        <textarea matInput type="textarea" [(ngModel)]="template.comment" name="comment" id="comment"></textarea>
      </mat-form-field>

      <div class="example-button-row section">
        <button class="btn-edit" (click)="editTemplate(template)" mat-raised-button color="accent"><mat-icon>edit</mat-icon>Modifier</button>
      </div>

      <div class="example-button-row section">
        <button class="btn-delete" (click)="deleteTemplate(template)" mat-raised-button color="warn"><mat-icon>delete</mat-icon>Supprimer</button>
      </div>

  </mat-expansion-panel>
</mat-accordion>
