<div class="sideNavList">
    <div>
        <img src="/assets/logo/pngtree-data-brain-polygon-logo-template-png-image_5583953-removebg-preview.png" alt="logo" height="150px">
    </div>
    <div class="itemList"><a routerLink="home" routerLinkActive="itemListActive" [routerLinkActiveOptions]="{exact:
      true}">Home</a></div>
    <div class="itemList"><a routerLink="faq" routerLinkActive="itemListActive" [routerLinkActiveOptions]="{exact:
      true}">FAQ</a></div>
    <div class="itemList"><a routerLink="template" routerLinkActive="itemListActive" [routerLinkActiveOptions]="{exact:
      true}">Template</a></div>
    <div class="itemList"><a routerLink="ereee" routerLinkActive="itemListActive" [routerLinkActiveOptions]="{exact:
      true}">AUTRES 1</a></div>
    <div class="itemList"><a routerLink="ee" routerLinkActive="itemListActive" [routerLinkActiveOptions]="{exact:
      true}">AUTRES 2</a></div>
    <div class="itemList"><a routerLink="ee" routerLinkActive="itemListActive" [routerLinkActiveOptions]="{exact:
      true}">AUTRES 3</a></div>
</div>