.search-container {
    width: inherit;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.search-container h2 {
    color: whitesmoke;
}

.search-container input#inputSearch {
    position: relative;
    width: 100%;
}

.mat-mdc-form-field{
  display: block;
}
